<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
    <script src="https://kit.fontawesome.com/a4117eb1fb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="top-header">
    {% if  not user.is_staff %}
        <a {% if request.resolver_match.url_name == 'index' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'index' %}">Home</a>
        <a {% if request.resolver_match.url_name == 'ismart' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'ismart' %}">ISMART Methodology</a>
    {% if user.is_authenticated %}
    <a {% if request.resolver_match.url_name == 'goal_list' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'goal_list' %}">Goals</a>
    <a {% if request.resolver_match.url_name == 'review_list' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'review_list' %}">Reviews</a>
        <a class="button" href="/admin"><i class="fa-solid fa-user-tie"></i> {{ user.username }}</a>
        <a class="button" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="button" href="{% url 'login' %}">Login</a>
        <a class="button" href="{% url 'signup' %}">Sign up</a>
    {% endif %}
    {% endif %} 
    {% if user.is_staff %}
        <a {% if request.resolver_match.url_name == 'index' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'index' %}">Home</a>
        <a {% if request.resolver_match.url_name == 'ismart' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'ismart' %}">ISMART Methodology</a>
        <a {% if request.resolver_match.url_name == 'goal_list' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'goal_list' %}">Goals</a>
        <a {% if request.resolver_match.url_name == 'employees_list' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'employees_list' %}">Department Employees</a>
        <a {% if request.resolver_match.url_name == 'department_reviews' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'department_reviews' %}">Department Reviews</a>
        <a class="button" href="/admin"><i class="fa-solid fa-user-tie"></i> {{ user.username }}</a>
        <a class="button" href="{% url 'logout' %}">Logout</a>
    {% endif %}
    </div>
    <main>
        {% if messages %}
            {% for message in messages %}
                <p class="box box-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
            {% block content %}
            {% endblock content %}
    </main> 

    <footer><p>&copy; 2023 Goals Managment System</p></footer>
</body>
</html>