<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
    <script src="https://kit.fontawesome.com/a4117eb1fb.js" crossorigin="anonymous"></script>
</head>
<body>
    {% if not user.is_staff %}
        <a {% if request.resolver_match.url_name == 'index' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'index' %}">Home</a>
        <a {% if request.resolver_match.url_name == 'ismart' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'ismart' %}">ISMART Methodology</a>
        <a {% if request.resolver_match.url_name == 'goal_list' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'goal_list' %}">Goals</a>
    {% if user.is_authenticated %}
        <a class="button" href="/admin"><i class="fa-solid fa-user-tie"></i> {{ user.username }}</a>
        <a class="button" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="button" href="{% url 'login' %}">Login</a>
        <a class="button" href="{% url 'signup' %}">Sign up</a>
    {% endif %}
    {% endif %} 
    {% if user.is_staff %}
        <a {% if request.resolver_match.url_name == 'index' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'index' %}">Home</a>
        <a {% if request.resolver_match.url_name == 'ismart' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'ismart' %}">ISMART Methodology</a>
        <a {% if request.resolver_match.url_name == 'goal_list' %}class="button active"{% else %}class="button"{% endif %} href="{% url 'goal_list' %}">Goals</a>
        <a class="button" href="/admin"><i class="fa-solid fa-user-tie"></i> {{ user.username }}</a>
        <a class="button" href="{% url 'logout' %}">Logout</a>
    {% endif %}
    <main>
        {% block content %}
        {% endblock content %}
    
    </main> 

    <footer><p>&copy; 2023 Goals Managment System</p></footer>
</body>
</html>