{% extends 'base.html' %}
{% block title %}Update {{ block.super }} Profile{% endblock title %}
{% block content %}
<div class="profile">
    <div class="profile-header">
        <h2 class="profile-title">Upload a new profile picture</h2>
        <form class="profile-form" method="post" action="{{ request.path }}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ manager_profile_form.as_p }}
            <button class="function-button" type="submit">Upload</button>
        </form>
    </div>
</div>
{% endblock content %}
