{% extends 'base.html' %}
{% block title %}profile in {{ block.super }}{% endblock title %}
{% block content %}
<div class="profile">
    {% if user_ == request.user and not user.is_staff %}
    <div class="profile-header">
        <h1>{{ user_.first_name }} {{ user_.last_name }}</h1>
        <h4>username: {{ user_ }}</h4>
        <div class="profile-details">
            <div class="detail-row">
                <span class="detail-label"><i class="fas fa-briefcase"></i></span>
                <span class="detail-value">{{ user_.employee.position }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label"><i class="fas fa-users"></i></span>
                <span class="detail-value">Manager: {{ user_.employee.manager }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label"><i class="far fa-envelope"></i></span>
                <span class="detail-value">{{ user_.email }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label"><i class="far fa-calendar-alt"></i></span>
                <span class="detail-value">{{ user_.employee.hire_date }}</span>
            </div>
        </div>
        <a class="function-button" href="{% url 'profile_update' %}">Upload picture</a>
    </div>
    {% endif %}
    {% if user_ == request.user and user.is_staff %}
    <div class="profile-header">
        <h1>{{ user_.manager.first_name }} {{ user_.manager.last_name }}</h1>
        <h4>username: {{ user_ }}</h4>
        <div class="profile-details">
            <div class="detail-row">
                <span class="detail-label"><i class="fas fa-building"></i></span>
                <span class="detail-value">{{ user_.manager.department }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label"><i class="fas fa-briefcase"></i></span>
                <span class="detail-value">Manager</span>
            </div>
            <div class="detail-row">
                <span class="detail-label"><i class="far fa-envelope"></i></span>
                <span class="detail-value">{{ user_.manager.email }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label"><i class="far fa-calendar-alt"></i></span>
                <span class="detail-value">Hire date: {{ user_.manager.hire_date }}</span>
            </div>
        </div>
        <a class="function-button" href="{% url 'manager_profile' %}">Update picture</a>
    </div>
    {% endif %}
</div>
{% endblock content %}
