body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(img/banner.jpeg);
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(200, 206, 217, 0.4);
  padding: 1rem;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.top-buttons .button:hover, 
.top-buttons .button.active{
  margin-right: 10px;
  border: 1px solid rgb(122, 116, 116);
  border-radius: 11px;
  background-color: whitesmoke;
  padding: 0.5rem;
}

.top-buttons .button{
  margin-right: 10px;
  border: 1px solid rgb(122, 116, 116);
  border-radius: 11px;
  background-color: #d4f3f2;
  padding: 0.5rem;
}

.sidebar-buttons .button:hover,
.sidebar-buttons .button.active {
  border: 1px solid rgb(122, 116, 116);
  border-radius: 11px;
  background-color: whitesmoke;
  padding: 0.4rem;
  display: block;
  margin-right: 10px;
}

.sidebar-buttons .button {
  border: 1px solid rgb(122, 116, 116);
  border-radius: 11px;
  background-color: #d4f3f2;
  padding: 0.4rem;
  display: block;
  margin-right: 10px;
}
.container {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: rgb(200, 206, 217, 0.4);
  color: #fff;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0rem;
  flex: 1;
}

footer {
  background-color: rgb(200, 206, 217, 0.4);
  padding: 0.1rem;
  text-align: center;
  margin: 0;
}
/* color: #6D6875;  */

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  flex: 1;
  margin-right: 10px;
}

.form-field-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  width: 200px;
  flex-shrink: 0;
}

.error-message {
  color: red;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px; /* Tarpas tarp eilučių: 0 horizontaliai, 10px vertikaliai */
}

input[type="text"],
input[type="password"],
textarea, select {
  border-radius: 5px;
  padding: 5px;
}

.rounded-cell {
  border-radius: 8px;
}

.rounded-input {
  border-radius: 8px;
  padding: 5px;
}

table tr th {
  padding: 5px;
  text-align: right;
}

.big {
  font-size: x-large;
}
img.logo {
  max-width: 10vw;
  margin: 0 0.5rem;
  border: 1px solid rgb(122, 116, 116);
  border-radius: 6px;
}

.confirm-button {
  background-color: rgb(77, 199, 232);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}
img.picture {
  max-width: 11vw;
  /* border-radius: 1.5rem; */
  margin-bottom: 10px;
  border-radius: 50% / 100% 200%;
} 
