{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock stylesheet %}
{% block title %}Create Review{{ block.super }}{% endblock title %}
{% block content %}
<h1>Fill the annual performance review:</h1>
<form method="post" action="{{ request.path }}?employee_id={{ employee.id }}">
    {% csrf_token %}
    <p>Select employee: {{ form.employee }}</p>
    <table>
        <tr>
            <td>&#x1F3C6;<b> Goals Achievment:</b></td>
            <td>&#x1F91D;<b> Teamwork:</b></td>
        </tr>
        <tr>
            <td>{{ form.goals_achievment }}</td>
            <td>{{ form.teamwork }}</td>                              
        </tr>
        <tr>
            <td class="padding-buttom"><b>Goals Review:</b><br><br> {{ form.goals_review }}</td>
            <td class="padding-buttom"><b>Teamwork Review:</b><br><br> {{ form.teamwork_review }}</td>
        </tr>
        <tr>
            <td>&#x1F4A1;<b> Innovation:</b></td>
            <td>&#x1F4BC;<b> Work Ethics:</b></td>
        </tr>
        <tr>
            <td>{{ form.innovation }}</td>
            <td>{{ form.work_ethics }}</td>
        </tr>
        <tr>
            <td class="padding-buttom"><b>Innovation Review: </b><br><br> {{ form.innovation_review }}</td>
            <td class="padding-buttom"><b>Work Ethics Review: </b><br><br> {{ form.work_ethics_review }}</td>
        </tr>      
        <tr>

            <td class="big"><b>Total Review:<b>{{ form.total_review }}</td>
        </tr>
    </table>

    <button class="confirm-button" type="submit"><b>Confirm review</b></button>
</form>


{% endblock content %}


