{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock stylesheet %}
{% block title %}Create Review{{ block.super }}{% endblock title %}
{% block content %}
<h1>Fill the annual performance review:</h1>
<form method="post" action="{{ request.path }}?employee_id={{ employee.id }}">
    {% csrf_token %}
    <p>Select employee: {{ form.employee }}</p>
    <table>
        <tr>
            <th>&#x1F3C6; Goals Achievment:</th>
            <td>{{ form.goals_achievment }}</td>
            <th>Goals Review:</th>
            <td>{{ form.goals_review }}</td>
        </tr>
        <tr>
            <th>&#x1F91D; Teamwork:</th>
            <td>{{ form.teamwork }}</td>
            <th>Teamwork Review:</th>
            <td>{{ form.teamwork_review }}</td>
        </tr>
        <tr>
            <th>&#x1F4A1; Innovation:</th>
            <td>{{ form.innovation }}</td>
            <th>Innovation Review:</th>
            <td>{{ form.innovation_review }}</td>
        </tr>
        <tr>
            <th>&#x1F4BC; Work Ethics:</th>
            <td>{{ form.work_ethics }}</td>
            <th>Work Ethics Review:</th>
            <td>{{ form.work_ethics_review }}</td>
        </tr>
        <tr>
            <th colspan=3 class="big"> Total Review:</th>
            <td>{{ form.total_review }}</td>
        </tr>
    </table>

    <button class="confirm-button" type="submit"><b>Confirm review</b></button>
</form>


{% endblock content %}


