{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock stylesheet %}
{% block title %}Department reviews{% endblock title %}
{% block content %}
<div class="requests">
    <h1>Department reviews</h1>
    {% if department_reviews %}
    <ul>
        {% for review in department_reviews %}
            <li><a href="{% url 'review_detail' review.pk %}">{{ review.employee }}, {{ review.get_total_review_display }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No reviews found</p>
    {% endif %}
</div>
{% endblock content %}