{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block title %}Employee Details{% endblock title %}
{% block content %}
<div class= "requests">
    {% if employee %}
    <div class="profile-header">
        <h1>Employee #{{ employee.id }} {{ employee.first_name}} {{ employee.last_name}}</h1>
        <br>
        {% if employee.user.profile.picture %}
            <img class="picture" src="{{ employee.user.profile.picture.url }}">
        {% else %}
            <img class="picture" src="{% static 'css\img\default.jpg' %}">
        {% endif %}
        <br>
        <div class="detail-row">
            <span class="detail-label"><i class="far fa-envelope"></i></span>
            <span class="detail-value">{{ employee.email }}</span>
        </div>
        <div class="detail-row">
            <span class="detail-label"><i class="fas fa-briefcase"></i></span>
            <span class="detail-value">{{ employee.position }}</span>
        </div>
        <div class="detail-row">
            <span class="detail-label"><i class="fas fa-users"></i></span>
            <span class="detail-value">Manager: {{ employee.manager }}</span>
        </div>
        <div class="detail-row">
            <span class="detail-label"><i class="far fa-calendar-alt"></i></span>
            <span class="detail-value">Hire date: {{ employee.hire_date }}</span>
        </div>
        <div class="detail-row">
            <span class="detail-label">
                {% if employee.status == 0 %}
                    <i class="fas fa-check-circle"></i>
                {% else %}
                    <i class="fas fa-times-circle"></i>
                {% endif %}
            </span>
            <span class="detail-value">Status: {{ employee.get_status_display }}</span>
        </div>
        <br>
    </div>
    {% else %}
        <p>No employees found</p>
    {% endif %}
        <div class="parent-element">
            <a class='function-button' href="{% url 'employee_goals_list' employee.pk %}">Review Goals</a>
            <a class='function-button' href="{% url 'create_review' employee.pk %}">Create Review</a>
        </div>
</div>
{% endblock content %}