{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block title %}Goal Details{% endblock title %}
{% block content %}
<div class= "requests">
    <h1>Goal details:</h1>
    {% if goal %}
    <ul>  
        <li>Goal: #{{ goal.id }} {{ goal.title}}
            <br><i> Status - </i>
            {% if goal.status == 0 %} 
                <span style="color: orange;"><strong> Planned</strong></span>
            {% elif goal.status == 1 %} 
                <span style="color: rgb(35, 80, 186);"><strong> In progress</strong></span>
            {% elif goal.status == 2 %} 
                <span style="color: green;"><strong> Complete</strong></span>
            {% elif goal.status == 3 %} 
                <span style="color: grey;"><strong> On hold</strong></span>
            {% elif goal.status == 4 %} 
                <span style="color: red;"><strong> Cancelled</strong></span>
            {% else %}               
            {% endif %}
                <br><i> Content - </i> {{ goal.description }}
                <br><i> Start date - </i> {{ goal.start_date }}
                <br><i> End date - </i> {{ goal.end_date }}
                <br><i> Priority - </i> {{ goal.get_priority_display }}
                <br><i> Progress - </i> {{ goal.get_progress_display }}
        </li>
    </ul>
    {% else %}
        <p>No goals found</p>
    {% endif %}
    {% if  user == goal.owner %}
        <div class="parent-element">
            <a class='button' href="{% url 'update_goal' goal.pk %}"><strong>Update Goal<strong></a>
            <a class='button' href="{% url 'delete_goal' goal.pk %}"><strong>Delete Goal<strong></a>
        </div> 
    {% endif %}
</div>
{% endblock content %}