{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block content %}
<head>
    <title>ISMART Metodika </title>
</head>
<body>
    <h1>ISMART Metodika </h1>

    <img src="{% static 'css\img\smart_goals.png' %}">
  
    <h2>1. Specifiniai (Specific)</h2>
        <p>Šioje skiltyje apibūdinami tikslai kuo tiksliau ir išsamiau. Svarbu nustatyti aiškias ir konkrečias tikslų formulavimo gaires.</p>
  
    <h2>2. Pamatuojami (Measurable)</h2>
        <p>Tikslai turėtų būti išmatuojami ir stebimi. Svarbu nustatyti tam tikrus matavimo kriterijus ir metodus, kurie padės vertinti tikslų pasiekimą.</p>
  
    <h2>3. Pasiektini (Attainable)</h2>
        <p>Tikslai turėtų būti realūs ir pasiekiami. Svarbu įvertinti turimus išteklius, galimybes ir kompetenciją, reikalingą tikslų siekimui.</p>
  
    <h2>4. Reikšmingi (Relevant)</h2>
        <p>Tikslai turėtų būti svarbūs ir atitikti jūsų asmeninę arba organizacinę viziją. Svarbu įsitikinti, kad tikslai padeda pasiekti norimus rezultatus ir yra prasmingi kontekste.</p>
  
    <h2>5. Laiko riboti (Time-bound)</h2>
        <p>Tikslai turėtų būti laiko riboti ir turi turėti konkretų pabaigos terminą. Svarbu nustatyti aiškų laiko rėmą, kurioje tikslai turėtų būti pasiekti.</p>
{% endblock content %}