{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block title %}My Reviews{% endblock title %}
{% block content %}
<div class= "requests">
    <h1>My Reviews:</h1>
    {% if review_list %}
    <ul> 
        {% for review in review_list %}
            <li><a href="{% url 'review_detail' review.pk %}"><b>Review: #{{ review.id }}</a><br></b>Year: {{ review.created_date|date:'Y' }}<br>Total score: {{ review.get_total_review_display }}</li>
        {% endfor %} 
    </ul>
    {% else %}
        <p>No review found</p>
    {% endif %}
{% endblock content %}
</div>
