{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block title %}Review Details{% endblock title %}
{% block content %}
<div class= "requests">
    <h1>Review details:</h1>
    {% if review %}
    <table>
        <tr>
            <td><b>Employee: {{ review.employee }}</b></td>
         </tr>
        <tr>
            <td class="padding-buttom"><b>Creation date: </b>{{ review.created_date }}</td>
        </tr>
        <tr>
            <td>&#x1F3C6;<b> Goals Achievment:</b></td>
            <td>&#x1F91D;<b> Teamwork:</b></td>
        </tr>
        <tr>
            <td>
                <div class="reviews-content">
                    <div>{{ review.goals_achievment }}</div>
                </div>
            </td>
            <td>
                <div class="reviews-content">
                    <div>{{ review.teamwork }}</div>  
                </div>
            </td>                            
        </tr>
        <tr>
            <td class="padding-buttom">{{ review.get_goals_review_display }}</td>
            <td class="padding-buttom">{{ review.get_teamwork_review_display }}</td>                              
        </tr>
        <tr>
            <td>&#x1F4A1;<b> Innovation:</b></td>
            <td>&#x1F4BC;<b> Work Ethics:</b></td>
        </tr>
        <tr>
            <td>
                <div class="reviews-content">
                    <div>{{ review.innovation }}</div>
                </div>
            </td>
            <td>
                <div class="reviews-content">
                    <div>{{  review.work_ethics }}</div>
                </div>
            </td>                           
        </tr>
        <tr>
            <td class="padding-buttom">{{ review.get_innovation_review_display }}</td>
            <td class="padding-buttom">{{ review.get_work_ethics_review_display }}</td>                              
        </tr>
        <tr>
            <td class="big" colspan="2"><b>Total Review:</b>{{ review.get_total_review_display }}</td>
        </tr>
        <tr>
            <td><b>Review created by: {{ review.manager }}</b></td>
        </tr>
    </table>
    {% else %}
        <p>No reviews found</p>
    {% endif %}
    {% if  user == review.manager.user %}
        <div class="parent-element">
            <a class='function-button' href="{% url 'update_review' review.pk %}">Update Review</a>
            <a class='function-button' href="{% url 'delete_review' review.pk %}">Delete Review</a>
        </div> 
    {% endif %}
</div>
{% endblock content %}
