{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}<link rel='stylesheet' href="{% static 'css/style.css' %}">{% endblock stylesheet %}
{% block content %}
<body>
    <h1>SMART Method </h1>
    <h2>🌍Exploring the Goal Components</h2>
        <div class="centered-section">
            <div class="flex-container">
                <div class="grid-container">
                    <div class="grid-item smart-cell"><b>S</b></div>
                    <div class="grid-item smart-cell"><b>M</b></div>
                    <div class="grid-item smart-cell"><b>A</b></div>
                    <div class="grid-item smart-cell"><b>R</b></div>
                    <div class="grid-item smart-cell"><b>T</b></div>
                    <div class="grid-item smart-concept"><b>Specific</b></div>
                    <div class="grid-item smart-concept"><b>Measurable</b></div>
                    <div class="grid-item smart-concept"><b>Attainable</b></div>
                    <div class="grid-item smart-concept"><b>Relevant</b></div>
                    <div class="grid-item smart-concept"><b>Time-bound</b></div>
                    <div class="grid-item goal-components">Define your goal in detail.<br> Be as specific as possible</div>
                    <div class="grid-item goal-components">Decide how you will measure success</div>
                    <div class="grid-item goal-components">Set realistic goals that challenge you, but are achievable</div>
                    <div class="grid-item goal-components">Ensure your goal is results-oriented</div>
                    <div class="grid-item goal-components">Set a clear deadline and monitor your progress</div>
                    <div class="grid-item goal-letters"><b>G</b></div>
                    <div class="grid-item goal-letters"><b>O</b></div>
                    <div class="grid-item goal-letters"><b>A</b></div>
                    <div class="grid-item goal-letters"><b>L</b></div>
                    <div class="grid-item goal-letters"><b>S</b></div>
                </div>
            </div>
        </div>
    <h1>📌Tips:</h1>
    <h2>1. 🎯: Specific</h2>
        <p>In order for a goal to be effective, it needs to be specific.<br> A specific goal answers questions like:</p>
            <li>What needs to be accomplished?
            <li>Who’s responsible for it?
            <li>What steps need to be taken to achieve it?
        <p>Thinking through these questions helps get to the heart of what you’re aiming for.</p>
  
    <h2>2. 📈: Measurable</h2>
        <p>Specificity is a solid start, but quantifying your goals (that is, making sure they’re measurable)<br> makes it easier to track progress and know when you’ve reached the finish line.</p>
  
    <h2>3. 🏋️: Achievable</h2>
        <p>This is the point in the process when you give yourself a serious reality check.<br> Goals should be realistic — not pedestals from which you inevitably tumble.<br>Ask yourself: is your objective something your team can reasonably accomplish?</p>
  
    <h2>4. 🌟: Relevant</h2>
        <p>Here’s where you need to think about the big picture.<br> Why are you setting the goal that you’re setting?</p>
  
    <h2>5. 🗓️: Time-bound</h2>
        <p>To properly measure success, you and your team need to be on the same page about when a goal has been reached.</p> 
        <li>What’s your time horizon?</li>
        <li> When will the team start creating and implementing the tasks they’ve identified?</li>
        <li>When will they finish?</li>
        <p>SMART goals should have time-related parameters built in,<br> so everybody knows how to stay on track within a designated time frame.</p>

        {% endblock content %}